<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:camel="http://camel.apache.org/schema/spring" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd             http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd     http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.0.xsd     http://www.springframework.org/schema/context        http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<!-- ================= -->
	<!-- SPRING PROPERTIES -->
	<!-- ================= -->
	<!-- <util:properties id="camelproperties" location="classpath:camel/camel.properties" 
		/> ${camelproperties:propName} -->
	<!-- <context:property-placeholder location="classpath:camel/camel.properties" -->
	<!-- /> -->


	<!-- ======= -->
	<!-- MONGODB -->
	<!-- ======= -->
<!-- 	<bean class="com.mongodb.MongoClient" id="mongoclient"> -->
<!-- 		<constructor-arg index="0" type="java.lang.String" -->
<!-- 			value="${cards.dbhost}" /> -->
<!-- 		<constructor-arg index="1" type="int" value="${cards.dbport}" /> -->
<!-- 	</bean> -->


	<!-- ================ -->
	<!-- MYSQL DATASOURCE -->
	<!-- ================ -->
	<bean id="mysqlDataSource" class="com.mysql.jdbc.jdbc2.optional.MysqlDataSource">
<!-- 		<property name="driverClassName" value="com.mysql.jdbc.Driver" /> -->
		<property name="url" value="jdbc:mysql://localhost:3306/fis2demo" />
		<property name="user" value="root" />
		<property name="password" value="mysql" />
	</bean>
	

	<!-- ============ -->
	<!-- SPRING BEANS -->
	<!-- ============ -->
	<bean class="org.jboss.integration.fis2demo.monitor.EventParser" id="eventparser" />




	<!-- ================== -->
	<!-- ACTIVEMQ COMPONENT -->
	<!-- ================== -->
	<bean class="org.apache.activemq.ActiveMQConnectionFactory" id="jmsConnectionFactory">
		<property name="brokerURL" value="${spring.activemq.broker-url}" />
		<property name="userName" value="${spring.activemq.user}" />
		<property name="password" value="${spring.activemq.password}" />
	</bean>
	<bean class="org.apache.camel.component.jms.JmsConfiguration" id="jmsConfig">
		<property name="connectionFactory" ref="jmsConnectionFactory" />
	</bean>
	<bean class="org.apache.activemq.camel.component.ActiveMQComponent"
		id="activemq">
		<property name="configuration" ref="jmsConfig" />
		<property name="transacted" value="true" />
		<property name="cacheLevelName" value="CACHE_CONSUMER" />
	</bean>


	<!-- ======================= -->
	<!-- JMS TRANSACTION MANAGER -->
	<!-- ======================= -->
	<!-- <bean class="org.springframework.jms.connection.JmsTransactionManager" -->
	<!-- id="transactionManager"> -->
	<!-- <property name="connectionFactory" ref="jmsConnectionFactory" /> -->
	<!-- </bean> -->


	<!-- ======================== -->
	<!-- JDBC TRANSACTION MANAGER -->
	<!-- ======================== -->
<!-- 	<bean id="transactionManager" -->
<!-- 		class="org.springframework.jdbc.datasource.DataSourceTransactionManager"> -->
<!-- 		<property name="dataSource" ref="mysqlDataSource" /> -->
<!-- 	</bean> -->


	<!-- ========================= -->
	<!-- SPRING TRANSACTION POLICY -->
	<!-- ========================= -->
<!-- 	<bean class="org.apache.camel.spring.spi.SpringTransactionPolicy" -->
<!-- 		id="required"> -->
<!-- 		<property name="transactionManager" ref="transactionManager" /> -->
<!-- 		<property name="propagationBehaviorName" value="PROPAGATION_REQUIRED" /> -->
<!-- 	</bean> -->
<!-- 	<bean class="org.apache.camel.spring.spi.SpringTransactionPolicy" -->
<!-- 		id="requires_new"> -->
<!-- 		<property name="transactionManager" ref="transactionManager" /> -->
<!-- 		<property name="propagationBehaviorName" value="PROPAGATION_REQUIRES_NEW" /> -->
<!-- 	</bean>	 -->

</beans>
